@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --amarelo-claro: #FDF0B2;
    --amarelo-banana: #FFDE59;
    --verde-folha: #35AE11;
    --azul-ciano: #0CC0DF;
    --vermelho-claro: #FE6565;
    --branco: #FFF;
    --azul-escuro: #004AAD;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.logo span {
    font-weight:100;
}


.container{
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 30px 6%;
    top: -13px;
    left: 0;
    background: #FE6565;
}

header img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display:inline-block;
    margin-left: 200px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.login button{
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: 0;
    border-radius: 30px;
    background-color:#ffffff;
    color: #FE6565;
    cursor: pointer;
    transition: .2s;
}


main {
    padding: 50px;
}

.conteudo {
    display: flex;
    align-items:center;
    justify-content: space-around;
  
}

.texto h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.explorar {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: .2s;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
   
}

.imagem img {
    width: 400px;
    
}

.barra {
    width: 1800px;
    height: 3px;
    background-color: rgb(214, 212, 212);
    border-radius: 15px;
    margin-top: -17px;
}

.oque-descobrir {
    background-color: var(--amarelo-claro);
    height: 462px;
    padding-top: 32px;
    margin-bottom: 100px;
}

.icones-descobrir img {
    width: 115px;
    height: 115px;
    margin-bottom: 10px;
}

.h2-oque-descobrir{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 700;
}

.icones-descobrir {
    display: flex;
    margin-inline: 360px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    gap: 100px;
}

.item-descobrir-1 {
    background-color: var(--amarelo-banana);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 320px;
    height: 220px;
    border-radius: 30px;
    font-size: 20px;
}

.item-descobrir-2 {
    background-color: var(--vermelho-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 350px;
    height: 220px;
    border-radius: 30px;
    font-size: 20px;
}

.item-descobrir-3 {
    background-color: var(--azul-ciano);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 320px;
    height: 220px;
    border-radius: 30px;
    font-size: 20px;
}


.h2-icones-temas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 127px;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

.icones-temas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 74px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.item-icone img {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.voce-sabia {
    display: flex;
    align-items: center;
    background-color: var(--amarelo-banana);
    margin-top: 100px;
    margin-inline: 200px;
    padding-inline: 150px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 50px;
}

.voce-sabia img {
    display: flex;
    justify-content: end;
    width: 325px;
    height: 325px;
}

.textos-voce-sabia {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 300px;
}

.textos-voce-sabia h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.textos-voce-sabia h3 {
    font-size: 23px;
    margin-bottom: 40px;
}

.textos-voce-sabia button {
    font-size: 23px;
    font-weight: 700;
    background-color: var(--verde-folha);
    border: none;
    border-radius: 20px;
    width: 193px;
    height: 50px;
    color: var(--branco);
}

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 50px;
    font-size: 30px;
    font-weight: 700;
}

/*SLIDER*/

.siema {
    margin: auto;
    width: 840px;
    height: 300px;
   
}

.siema img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 2px solid black;
    gap: 20px;
}

/*FOTOS DO GRUPO*/




.nosso-grupo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 100px;
}

.fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 100px;
}

.fotos a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-decoration: none;
}

.fotos img {
    border: 3px solid var(--azul-escuro);
    border-radius: 100%;
    width: 115px;
    height: 115px;
}


.nosso-grupo {
  margin-top: 100px;
}

.nosso-grupo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 100px;
}

.fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 100px;
}

.fotos p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.fotos img {
    border: 3px solid var(--azul-escuro);
    border-radius: 100%;
    width: 115px;
    height: 115px;
}


footer {
    background-color: #f44336;
    color: white;
    padding: 30px 50px;
    margin-top: 100px;
 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-logo h2 span {
    font-weight: bold;
}

.footer-logo p {
    font-size: 14px;
    margin-bottom: 15px;
}

.social-icons img {
    color: white;
    font-size: 4px;
    margin-right: 45px;
    text-decoration: none;
}

.footer-menu h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    margin-bottom: 8px;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}










.explorar-termos {
    background-color: var(--amarelo-claro);
    display: flex;
    margin-top: 100px;
    align-items: center;
    padding-block: 40px;
    padding-inline: 430px;
    gap: 110px;
    font-weight: 700;
}




.explorar-termos img {
    width: 368px;
    height: 333px;
}


.explorar-termos button {
    align-self: center;
    border: none;
    background-color: var(--verde-folha);
    color: var(--branco);
    border-radius: 20px;
    height: 55px;
    width: 250px;
    font-weight: 700;
    font-size: 23px;
}

.textos-explorar {
    display: flex;
    flex-direction: column;
}

.textos-explorar h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.textos-explorar h2 {
    font-size: 23px;
    margin-bottom: 30px;
}


