@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --amarelo-claro: #FDF0B2;
    --amarelo-banana: #FFDE59;
    --verde-folha: #35AE11;
    --azul-ciano: #0CC0DF;
    --azul-claro: #A0DFE9;
    --vermelho: #FF4C4C;
    --vermelho-claro: #FE6565;
    --branco: #FFF;
    --azul-escuro: #004AAD;
    --laranja: #FFA42B;
    font-size: 62.5%;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.logo {
    font-size: 3.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.logo span {
    font-weight:100;
}


.container{
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 3.0rem 6%;
    top: -1.3rem;
    left: 0;
    background: #FE6565;
    font-size: 1.8rem;
}

header img{
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 100%;
}

header i{
    font-size: 3.0rem;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display:inline-block;
    margin-left: 20.0rem;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.login button{
    width: 12.0rem;
    height: 4.0rem;
    font-weight: bold;
    border: 0;
    border-radius: 3.0rem;
    background-color: var(--branco);
    color: #FE6565;
    cursor: pointer;
    transition: .2s;
    font-size: 1.8rem;
}

main {
    padding: 5.0rem;
}

.conteudo {
    display: flex;
    align-items:center;
    justify-content: space-around;
  
}

.texto h1 {
    font-size: 6.0rem;
    font-weight: bold;
    margin-bottom: 4.0rem;
}

.explorar {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: .2s;
    padding: 1.0rem 2.0rem;
    border-radius: 0.8rem;
    text-decoration: none;
    font-weight: bold;
   
}

.imagem img {
    width: 40rem;
}

.barra {
    width: 180rem;
    height: .3rem;
    background-color: rgb(214, 212, 212);
    border-radius: 1.5rem;
    margin-top: -1.7rem;
}

.oque-descobrir {
    background-color: var(--amarelo-claro);
    height: 46.2rem;
    padding-top: 3.2rem;
    margin-bottom: 10.0rem;
}

.icones-descobrir img {
    width: 11.5rem;
    height: 11.5rem;
    margin-bottom: 1.0rem;
}

.h2-oque-descobrir{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8.0rem;
    font-size: 3.0rem;
    font-weight: 700;
}

.icones-descobrir {
    display: flex;
    margin-inline: 36.0rem;
    font-size: 2.0rem;
    font-weight: 400;
    font-style: normal;
    gap: 10.0rem;
}

.item-descobrir-1 {
    background-color: var(--amarelo-banana);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 32.0rem;
    height: 22.0rem;
    border-radius: 3.0rem;
    font-size: 2.0rem;


}

.item-descobrir-2 {
    background-color: var(--vermelho-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    width: 30.0rem;
    height: 22.0rem;
    border-radius: 3.0rem;
    font-size: 2.0rem;
}

.item-descobrir-3 {
    background-color: var(--azul-ciano);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 32.0rem;
    height: 22.0rem;
    border-radius: 3.0rem;
    font-size: 2.0rem;
}

a {
    color: inherit;
    text-decoration: none;
}


.h2-icones-temas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.7rem;
    font-size: 3.0rem;
    font-weight: 700;
    font-style: normal;
}

.icones-temas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 7.4rem;
    font-size: 2.0rem;
    font-weight: 400;
    font-style: normal;
}

.item-icone img {
    width: 15.0rem;
    height: 15.0rem;
    margin-bottom: 1.0rem;
}

.voce-sabia {
    display: flex;
    align-items: center;
    background-color: var(--amarelo-banana);
    margin-top: 10.0rem;
    margin-inline: 20.0rem;
    padding-inline: 15.0rem;
    padding-top: 7.0rem;
    padding-bottom: 7.0rem;
    border-radius: 5.0rem;
}

.voce-sabia img {
    display: flex;
    justify-content: end;
    width: 32.5rem;
    height: 32.5rem;
}

.textos-voce-sabia {
    display: flex;
    flex-direction: column;
    margin-left: 10.0rem;
    margin-right: 30.0rem;
}

.textos-voce-sabia h2 {
    font-size: 4.5rem;
    margin-bottom: 2.0rem;
}

.textos-voce-sabia h3 {
    font-size: 2.3rem;
    margin-bottom: 4.0rem;
}

.textos-voce-sabia a {
    margin-left: -10.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    background-color: var(--verde-folha);
    color: var(--branco);
    border-radius: 2.0rem;
    height: 5.5rem;
    text-decoration: none;
    width: 22.0rem;
    font-weight: 700;
    font-size: 2.3rem;
    cursor: pointer;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5.0rem;
    margin-bottom: 7.0rem;
    font-size: 3.0rem;
    font-weight: 700;
}

/*SLIDER*/

.siema {
    margin: auto;
    width: 84.0rem;
    height: 30.0rem;
}

.siema img {
    width: 40.0rem;
    height: 30.0rem;
    object-fit: cover;
    border: 0.2rem solid rgb(131, 131, 131);
    margin-left: 7.5rem;
}

.slider {
    display: flex;
    align-items: center;
}

.slider button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prev {
    display: flex;
    justify-content: center;
    margin-left: 38.0rem;
    width: 8.0rem;
    height: 8.0rem;
}


.next {
    display: flex;
    justify-content: center;
    margin-right: 38.0rem;
    width: 8.0rem;
    height: 8.0rem;
}

.setabaixo1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5.0rem;
}

.setabaixo1 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.setabaixo1 img {
    width: 8.0rem;
    height: 8.0rem;
}

.setabaixo2 {
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
    margin-bottom: 5.0rem;
}

.setabaixo2 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.setabaixo2 img {
    width: 8.0rem;
    height: 8.0rem;
}

.setacima {
    display: flex;
    justify-content: center;
    margin-top: 10.0rem;
}

.setacima button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.setacima img {
    width: 8.0rem;
    height: 8.0rem;
}
    
/*FOTOS DO GRUPO*/




.nosso-grupo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 10.0rem;
}

.fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10.0rem;
}

.fotos a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-decoration: none;
}

.fotos img {
    border: .3rem solid var(--azul-escuro);
    border-radius: 100%;
    width: 11.5rem;
    height: 11.5rem;
}


.nosso-grupo {
  margin-top: 10.0rem;
}

.nosso-grupo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 10.0rem;
}

.fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 8.0rem;
}

.fotos p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.fotos img {
    border: .3rem solid var(--azul-escuro);
    border-radius: 100%;
    width: 11.5rem;
    height: 11.5rem;
}


footer {
    background-color: #f44336;
    color: white;
    padding: 3.0rem 5.0rem;
    margin-top: 10.0rem;
 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo h2 {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 1.0rem;
}

.footer-logo h2 span {
    font-weight: bold;
}

.footer-logo p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.social-icons img {
    color: white;
    font-size: .4rem;
    margin-right: 4.5rem;
    text-decoration: none;
}

.footer-menu h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.0rem;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    margin-bottom: .8rem;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}










.explorar-termos {
    background-color: var(--amarelo-claro);
    display: flex;
    margin-top: 10.0rem;
    align-items: center;
    padding-block: 4.0rem;
    padding-inline: 43.0rem;
    gap: 11.0rem;
    font-weight: 700;
}




.explorar-termos img {
    width: 36.8rem;
    height: 33.3rem;
}


.explorar-termos a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    background-color: var(--verde-folha);
    color: var(--branco);
    border-radius: 2.0rem;
    height: 5.5rem;
    text-decoration: none;
    width: 25.0rem;
    font-weight: 700;
    font-size: 2.3rem;
    cursor: pointer;
}

.textos-explorar {
    display: flex;
    flex-direction: column;
}

.textos-explorar h1 {
    font-size: 4.0rem;
    margin-bottom: 1.0rem;
}

.textos-explorar h2 {
    font-size: 2.3rem;
    margin-bottom: 3.0rem;
}


