@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --amarelo-claro: #FDF0B2;
    --amarelo-banana: #FFDE59;
    --verde-folha: #35AE11;
    --azul-ciano: #0CC0DF;
    --vermelho-claro: #FE6565;
    --branco: #FFF;
    --azul-escuro: #004AAD;
    --vermelho-bem-claro: #F4A6A6;
    --vermelho-escuro: #ED4B3A;
    --cinza: #F9F9F9;
    font-size: 62.5%;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    
}

.logo {
    font-size: 3.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.logo span {
    font-weight:100;
}


.container{
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 3.0rem 6%;
    top: -1.3rem;
    left: 0;
    background: #FE6565;
    font-size: 1.8rem;
}

header img{
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 100%;
}

header i{
    font-size: 3.0rem;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display:inline-block;
    margin-left: 20.0rem;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.login button{
    width: 12.0rem;
    height: 4.0rem;
    font-weight: bold;
    border: 0;
    border-radius: 3.0rem;
    background-color: var(--branco);
    color: #FE6565;
    cursor: pointer;
    transition: .2s;
    font-size: 1.8rem;
}

.icones-temas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    margin-block: 5.0rem;
}

.icones-temas img {
    width: 5.0rem;
    height: 5.0rem;
}
.item-icone3{
    opacity: 50%;
    border-radius: 5.0rem;
    background-color: rgba(184, 17, 17, 0.808);
    font-size: 2.0rem;
}

.icones-temas img:hover {
    opacity: 100%;
    transition: 0.3s;
    cursor: pointer;
}
.header {
    display: flex;
    align-items: center;
  }
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10.0rem;
}

.titulo h1 {
    font-size: 4.5rem;
    margin-left: 15.0rem;
}

.titulo img  {
    margin-right: -5.0rem;

}

.barralaranja {
    margin-left: -100.0rem;
}

.barralaranja img {
    height: 15.0rem;
    background: var(--azul-escuro);
}

.paragrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2.0rem;
    border-bottom-left-radius: 2.0rem;
    background-color: var(--vermelho-bem-claro);
    margin-top: 15.0rem;
    margin-left: 65.0rem;
    padding: 5.5rem;
}

.paragrafo p {
    text-indent: 2.5rem;
    font-size: 2.4rem;
    text-align: justify;
    font-weight: 700;
}


.sangue{
    background: var(--vermelho-escuro);
    margin-top: 200px;
    margin-right: 600px;
    height: -40px;
    font-size: 30px;
    border-end-end-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
}

.sangue-h1{
    color: var(--branco);
    justify-content: center;
    align-content: center;
    margin-left: 500px;
    font-size: 50px;
}

.paragrafo-cardiaco{
    margin-top: 120px;
    margin-left: 250px;
    font-size: 32px;
    justify-content: center;
    text-align:justify;
    width: 700px;
    font-weight: 700 ;
    margin-right: 600px;
}

.vasos-sangue{
    background: var(--vermelho-escuro);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
    height: 80px;
    color: var(--branco);
    margin-top: -12.5px;
}

.Vasos{
    color: var(--branco);
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
    margin-top: -500px;
}



.paragrafo-vasos{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-top: 10.5rem;
    font-weight: 700;
}

.glandulas {
    display: flex;
    height: 46.2rem;
    padding-top: 3.2rem;
    margin-left: 400px;
}

.glandulastitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8.0rem;
    font-size: 3.0rem;
    font-weight: 700;
}

.glandulas img {
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 1.5rem;
}

.glandulas p {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.8rem;
    width: 250px;
}
.glandulas div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
    width: 36.0rem;
    height: 32.0rem;
    border-radius: 3.0rem;
    font-size: 2.0rem;
}

.explorar-termos {
    background-color: var(--amarelo-claro);
    display: flex;
    align-items: center;
    padding-block: 4.0rem;
    padding-inline: 43.0rem;
    gap: 11.0rem;
    font-weight: 700;
}

.explorar-termos img {
    width: 36.8rem;
    height: 33.3rem;
}


.explorar-termos a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    background-color: var(--verde-folha);
    color: var(--branco);
    border-radius: 2.0rem;
    height: 5.5rem;
    text-decoration: none;
    width: 25.0rem;
    font-weight: 700;
    font-size: 2.3rem;
    cursor: pointer;
}

.textos-explorar {
    display: flex;
    flex-direction: column;
}

.textos-explorar h1 {
    font-size: 4.0rem;
    margin-bottom: 1.0rem;
}

.textos-explorar h2 {
    font-size: 2.3rem;
    margin-bottom: 3.0rem;
}

.paragrafo-vasos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: 400px ;
}

.coracao {
    background-color: var(--vermelho-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
    height: 90px;
    color: var(--branco);
    margin-top: 180px;
    font-size: 28px;
}

.coracaop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 480px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 100px;
}

.vasos img{
}


.layout-grid {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 100%;
    align-items: center;
}

.img-container {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    max-width: 1000px;
    margin-left: 30px;
}


.box {
    color: var(--branco);
    font-size: 14px;
}

.box h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--branco);
    padding-left: 88px;
    margin-top: -32px;
    font-weight: 700;
}

.box p{
    font-size: 25px;
    padding-right: 86px;
    padding-left: 97px;
    padding-bottom: 32px;
    margin-top: 22px;
    font-weight: 700;
}

.info-azul {
    background-color: var(--azul-escuro);
    height: 290px; 
    padding-top: 82px;
    margin-right: 200px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.info-rosa {
    background-color: #F4A6A6;
    margin-left: 200px;
    padding-top: 82px;
    height: 280px; 
   
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.ifon-roDireito{
    background: #F4A6A6 ;
    height: 290px; 
    padding-top: 82px;
    margin-right: 200px;
    
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.info-azDireito{
    background: var(--azul-escuro);
    margin-left: 200px;
    padding-top: 82px;
    height: 280px; 
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.item1 { grid-column: 1; grid-row: 1; }
.item2 { grid-column: 1; grid-row: 2; }
.item3 { grid-column: 1; grid-row: 3; }
.item4 { grid-column: 3; grid-row: 1; }
.item5 { grid-column: 3; grid-row: 2; }
.item6 { grid-column: 3; grid-row: 3; }


.Circulação-sistêmica{
    background: var(--vermelho-escuro);
    margin-right: 1000px;
    height: 400px;
    border-end-end-radius: 32px;
    border-top-right-radius: 42px;
    margin-top: 150px;
}

.h3-circulação{
 background: var(--branco);
 padding-top: 32px;
 padding-bottom: 32px;
 font-size: 30px;
 padding-left:152px;
}

.h1-Circulação{
    padding-top: 32px;
 padding-bottom: 32px;
 color: var(--branco);
 margin-left: 162px;
 font-size: 40px;
 font-weight: 700;
}

.paragrafp-circulação{
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 28px;
    color: var(--branco);
    font-weight: 500;
    padding-inline: 150px;
}


.Circulação-pulmonar{
    background: var(--vermelho-escuro);
    margin-left: 1000px;
    height: 400px;
    border-bottom-left-radius: 43px ;
    border-top-left-radius: 43px;
    justify-content: end;
    align-items: end;
    text-align: end;
    margin-top: -400px;
    margin-bottom: 42px;
}

.h1-pulmonar{
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--branco);
    margin-right: 162px;
    font-size: 40px;
    font-weight: 700;
}

.h3-pulmonar{
    background: var(--cinza);
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 30px;
    padding-right:152px;
}

.paragrafp-pulmonar{
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 28px;
    color: var(--cinza);
    font-weight: 500;
    padding-inline: 150px;
}

.setabaixo2 {
    display: flex;
    justify-content: center;
    margin-top: 9.5rem;
    margin-bottom: 5.0rem;
}

.setabaixo2 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.setabaixo2 img {
    width: 8.0rem;
    height: 8.0rem;
}


.icones-temas2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    margin-block: 15rem 5rem;
}

.icones-temas2 img {
    width: 5.0rem;
    height: 5.0rem;
}

.icones-temas2 img:hover {
    opacity: 100%;
    transition: 0.3s;
    cursor: pointer;
}