@import url('./header.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

.icones-navegar {
    display: flex;
    gap: 2rem;

    img {
        width: 4rem;
    }
}

.icones-navegar2 {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;

    img {
        width: 4rem;
    }
}

* {
    p {
    font-style: italic;
    font-family: 'Open Sans';
    }
}

/* Você sabia? - Sistema digestório */

/* Barra Título VC-SD*/
.div-titulo-dentro {
    margin-top: 15rem;
    display: flex;
    justify-content: left;
    align-items: center;

    h1 {
        font-weight: 625;
        font-family: 'Montserrat' , sans-serif;
        margin-left: 12.0rem;
    }

    img {
        margin: -5.0rem;
    }

    .barra {
        height: 12.0rem;
        width: 60.0rem;
    }
    
}

.div-titulo-fora {
    margin-bottom: 10rem;
}

.parte {
    width: 160svh;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    justify-content: space-between;  
}

/* Modelos de caixinha de curiosidades */

/* Modelo Nanico */
.modeloN {
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 22rem;
    height:25rem;

    img {
        width: 8rem;

    }

    p {
        max-width: 85%;
        font-size: 18px;
        text-align: center;
        margin-bottom: .5rem;
    }
}

/* Modelo O(nem pequeno nem nanico) */
.modeloO {
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 31rem;
    height:25rem;

    img {
        width: 8rem;

    }

    p {
        max-width: 85%;
        font-size: 18px;
        text-align: center;
        margin-bottom: .5rem;
    }
}

/* Modelo Pequeno */
.modeloP {
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 27rem;
    height:25rem;

    img {
        width: 8rem;

    }

    p {
        max-width: 85%;
        font-size: 18px;
        text-align: center;
        margin-bottom: .5rem;
    }
}

/* Modelo Médio */
.modeloM {
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 47rem;
    height:25rem;

    img {
        width: 8rem;

    }

    p {
        max-width: 85%;
        font-size: 18px;
        text-align: center;
        margin-bottom: .5rem;
    }
}

/* Modelo Grande */
.modeloG {
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 58.2rem;
    height:25rem;

    img {
        width: 8rem;
    }

    p {
        max-width: 85%;
        font-size: 18px;
        text-align: center;
        margin-bottom: .5rem;
    }
}

.botao {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: none;
    height: 5rem;
    color: var(--branco);
    padding-inline: 4rem;
    border-radius: 3rem;
}

.digestorio-icones {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    div {
        div{
            background-color: var(--amarelo-claro);
        }
    }

    button {
        margin-top: 5rem;
        cursor: pointer;
        background: #FFA42B;
    }
}

.respiratorio-icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    div {
        div{
            background-color: #A0DFE9;
        }
    }

    button {
        cursor: pointer;
        margin-top: 5rem;
        background: var(--azul-escuro);
    }
}

.circulatorio-icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    
    div {
        div{
            background-color: #FFC8C8;
        }
    }

    button {
        cursor: pointer;
        margin-top: 5rem;
        background: #ED4B4A;
    }
}

.nervoso-icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    
    div {
        div{
            background-color: #A8E6A1;
        }
    }

    button {
        cursor: pointer;
        margin-top: 5rem;
        background: var(--verde-folha);
    }
}

.muscular-icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    
    div {
        div{
            background-color: #F4A6A6;
        }
    }

    button {
        cursor: pointer;
        margin-top: 5rem;
        background: var(--vermelho-claro);
    }
}