@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --amarelo-claro: #FDF0B2;
    --amarelo-banana: #FFDE59;
    --verde-folha: #35AE11;
    --azul-ciano: #0CC0DF;
    --vermelho-claro: #FE6565;
    --branco: #FFF;
    --azul-escuro: #004AAD;
    font-size: 62.5%;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.logo {
    font-size: 3.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.logo span {
    font-weight:100;
}


.container{
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 3.0rem 6%;
    top: -1.3rem;
    left: 0;
    background: #FE6565;
    font-size: 1.8rem;
}

header img{
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 100%;
}

header i{
    font-size: 3.0rem;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    margin-left: 20.0rem;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.login button{
    width: 12.0rem;
    height: 4.0rem;
    font-weight: bold;
    border: 0;
    border-radius: 3.0rem;
    background-color: var(--branco);
    color: #FE6565;
    cursor: pointer;
    transition: .2s;
    font-size: 1.8rem;
}