@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF4C4C;
}

.logo {
    font-size: 3.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-left: 5.8rem;
    margin-block: 2.9rem 2.9rem;
}

.logo span {
    font-weight: 100;
}

header .sair {
    margin-right: 12rem;
    font-size: 5rem;
    
}

.sair a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #FF4C4C;
    padding-block: 8.6rem 16rem;
}

.container h1 {
    font-family: Poppins, sans-serif;
    font-size: 6rem;
    font-weight: 800;
}

.container p {
    font-family: Poppins, sans-serif;
    margin-top: 3rem;
    font-size: 2.8rem;
    width: 65%;
    font-weight: 400;
    text-align: center;
}


.assuntos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.item-icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 5rem;
    font-size: 2.0rem;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.item-icone img {
    width: 17.0rem;
    height: 17.0rem;
    margin-bottom: 1.0rem;
}

.item-icone p {
    margin-bottom: 1.5rem;
}


.cor1 { 
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    width: 17rem;
    height: 39.5rem;
    background-color: #FFBD59;
    z-index: -1;
}

.cor2 { 
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    width: 17rem;
    height: 39.5rem;
    background-color: #EE3521;
    z-index: -1;
}

.cor3 { 
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    width: 17rem;
    height: 39.5rem;
    background-color: #5EE9FF;
    z-index: -1;
}

.cor4 { 
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    width: 17rem;
    height: 39.5rem;
    background-color: #35AE11;
    z-index: -1;
}

.cor5 { 
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    width: 17rem;
    height: 39.5rem;
    background-color: #E65051;
    z-index: -1;
}