* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff6ee;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 600px;
    width: 100%;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(253, 162, 111, 0.2);
}


.sair {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: -2rem;
    margin-right: -1rem;
}

.sair button {
    border: none;
    background-color: #fff6ee;
    color: grey;
    font-size: 1.2rem;
}

.sair button:hover {
    cursor: pointer;
}

.boas_vindas h1 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 15px;
    color: #0B0A29;
}

.boas_vindas h1 span {
    color: #ff6f7e;
}

.boas_vindas p {
    color: #6B7A93;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 2rem;
}

.assuntos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.assuntos button {
    border: none;
    height: 5rem;
    width: 7rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    text-align: center;
}


.botao_digestorio {
    background-color: #ffd7ba;
}
.botao_digestorio:hover {
    background-color: #f4a261;
    transition-duration: 1s;
    cursor: pointer;
}

.botao_respiratorio {
    background-color: #b3dee2;
}
.botao_respiratorio:hover {
    background-color: #00b4d8;
    transition-duration: 1s;
    cursor: pointer;
}

.botao_circulatorio {
    background-color: #ffccd5;
}
.botao_circulatorio:hover {
    background-color: #ea638c;
    transition-duration: 1s;
    cursor: pointer;
}

.botao_nervoso {
    background-color: #b0c4b1;
}
.botao_nervoso:hover {
    background-color: #38b000;
    transition-duration: 1s;
    cursor: pointer;
}

.botao_muscular {
    background-color: #ff8fab;
}
.botao_muscular:hover {
    background-color: #f94144;
    transition-duration: 1s;
    cursor: pointer;
}
